/* ------- page ------- */
.page {
    margin: 0;
    padding: 4em 0;
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}


/* ------- container ------- */
.container {
    max-width: 35em;
    margin: 0 auto;
    padding: 0 15px;
}


/* ------- list ------- */
.list {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}


/* ------- nav ------- */
.nav {
    padding: 2em 0;
}

.nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -15px;
}

.nav__list-item {
    padding: 0 30px;
}


/* ------- button ------- */
.button {
    padding: 0;
    border: 0;
    user-select: none;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    color: inherit;
    background-color: transparent;
    text-decoration-line: none;
}

.button--theme-link {
    padding: .4em;
    color: #2d86e0;
    text-decoration: underline;
    text-transform: uppercase;
}

.button--theme-link:hover {
    color: #175595;
    text-decoration: none;
}


/* ------- favorites-button ------- */
.favorites-button {
    padding: .4em;
}

.favorites-button::before {
    display: flex;
    width: 1.5em;
    height: 1.5em;
    background: url('data:image/svg+xml,%3Csvg fill="%23c4c4c4" xmlns="http://www.w3.org/2000/svg" x="0" y="0" width="535.5px" height="535.5px" viewBox="0 0 535.5 535.5"%3E%3Cpolygon points="535.5,210.375 344.25,210.375 267.75,19.125 191.25,210.375 0,210.375 172.125,325.125 95.625,516.375 267.75,401.625 439.875,516.375 363.375,325.125"/%3E%3C/svg%3E%0A') center / contain no-repeat;
    content: '';
}

.favorites-button--active::before {
    background-image: url('data:image/svg+xml,%3Csvg fill="%23FF0000" xmlns="http://www.w3.org/2000/svg" x="0" y="0" width="535.5px" height="535.5px" viewBox="0 0 535.5 535.5"%3E%3Cpolygon points="535.5,210.375 344.25,210.375 267.75,19.125 191.25,210.375 0,210.375 172.125,325.125 95.625,516.375 267.75,401.625 439.875,516.375 363.375,325.125"/%3E%3C/svg%3E%0A');
}


/* ------- photo ------- */
.photo {
}

.photo__inner {
    display: flex;
}

.photo__actions {
    padding: .1em;
}

.photo__body {
    display: flex;
}

.photo__link {
    display: flex;
}

.photo__image {
    background-color: #f2f2f2;
}


/* ------- album ------- */
.album {
}

.album__inner {
    padding: 1em 2em;
}

.album__list {
}

.album__list-item:not(:last-child) {
    margin-bottom: 1em;
}


/* ------- accordion ------- */
.accordion {
}

.accordion__list {
}

.accordion__list .accordion__list {
    padding-left: 1.4em;
}

.accordion__list-item {
}

.accordion__button {
    text-align: left;
    position: relative;
    padding: .4em .4em .4em 2em;
}

.accordion__button::before {
    position: absolute;
    top: .45em;
    left: .4em;
    display: flex;
    width: .8em;
    height: .8em;
    background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" x="0" y="0" width="306px" height="306px" viewBox="0 0 306 306"%3E%3Cpolygon points="58.65,267.75 175.95,153 58.65,35.7 94.35,0 247.35,153 94.35,306"/%3E%3C/svg%3E%0A') center / contain no-repeat;
    content: '';
}

.accordion__button--active::before {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.accordion__panel {
}


/* ------- popup ------- */
.popup {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.popup__overlay {
    height: 100%;
    padding: 35px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .85);
    cursor: pointer;
}

.popup__overlay img {
    cursor: initial;
    max-width: 100%;
    max-height: 100%;
}
